lib/dracut/modules.d/51systemimager/disks-layout.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Description of disk layout configuration.
     man autoinstallscript.conf for details.

     Author: Olivier LAHAYE (c) 2019
     License: GPLv2
 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<!-- Main structure of disk-layout configuration -->
	<xsd:element name="config">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element minOccurs="1" maxOccurs="unbounded" ref="disk"/> <!-- Mandaatory section -->
				<xsd:element minOccurs="0" maxOccurs="1" ref="raid"/> <!-- Optional section -->
				<xsd:element minOccurs="0" maxOccurs="1" ref="lvm"/> <!-- Optional section -->
				<xsd:element minOccurs="0" maxOccurs="unbounded" ref="bootloader"/> <!-- Mandatory section -->
				<xsd:element minOccurs="1" maxOccurs="unbounded" ref="fsinfo"/> <!-- Mandatory section -->
				<xsd:element minOccurs="0" maxOccurs="1" ref="boel"/> <!-- Optional section -->
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- Disk section -->
	<xsd:element name="disk">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element minOccurs="1" maxOccurs="unbounded" ref="part"/> <!-- Need at least one partition -->
			</xsd:sequence>
			<xsd:attribute name="dev" use="required"> <!-- Disk device full path -->
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"> <!-- Basic device path checking -->
						<xsd:pattern value="/dev/([a-z][a-z0-9]*/)?[a-z][a-z0-9]*"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="label_type" use="required"> <!-- Partition table type -->
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:enumeration value="msdos"/>
						<xsd:enumeration value="gpt"/>
						<xsd:enumeration value="convert"/> <!-- special value asking for msdos to gpt conversion -->
						<xsd:enumeration value="none"/> <!-- special value asking to keep this disk untouched -->
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="unit_of_measurement" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:enumeration value="TB"/>
						<xsd:enumeration value="TiB"/>
						<xsd:enumeration value="GB"/>
						<xsd:enumeration value="GiB"/>
						<xsd:enumeration value="MB"/>
						<xsd:enumeration value="MiB"/>
						<xsd:enumeration value="kB"/>
						<xsd:enumeration value="KiB"/>
						<xsd:enumeration value="B"/>
						<xsd:enumeration value="s"/>
						<xsd:enumeration value="percent"/>
						<xsd:enumeration value="percentage"/>
						<xsd:enumeration value="%"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
		<xsd:unique name="uniquePartitionId"> <!-- enforces partition @num to be unique within a disk section -->
			<xsd:selector xpath="part"/>
			<xsd:field xpath="@num"/>
		</xsd:unique>
	</xsd:element>
	<xsd:element name="part">
		<xsd:complexType>
			<xsd:attribute name="num" use="required"> <!-- The partition number. (mandatory) -->
				<xsd:simpleType>
					<xsd:restriction base="xsd:int"> <!-- partition number is an integer -->
						<xsd:minExclusive value="0"/> <!-- partition number 0 is not allowed -->
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="size" use="required"> <!-- The partition size. (mandatory) -->
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"> <!-- partition size is an integer OR '*' -->
						<xsd:pattern value="[\*1-9][0-9]*"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="p_type" use="required"> <!-- The partition type. (mandatory) -->
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:enumeration value="primary"/>
						<xsd:enumeration value="extended"/>
						<xsd:enumeration value="logical"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="id"> <!-- The partition id (e.g. 8e stands for Linux LVM) -->
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="[a-fA-F0-9]{1,2}"/> <!-- 2 hex digit without preceding 0x -->
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="p_name"> <!-- The label of the partition (only GPT) -->
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse"/> <!-- no space around the name -->
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="flags"> <!-- The partition flags -->
				<xsd:simpleType>
					<xsd:restriction base="xsd:token"> <!-- comma spearated list of the following:boot,hidden,raid,lvm,lba,swap,legacy_boot,palo,esp -->
						<xsd:pattern value="(boot|hidden|raid|lvm|lba|swap|legacy_boot|palo|esp)(,(boot|hidden|raid|lvm|lba|swap|legacy_boot|palo|esp))*"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="raid_dev">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"> <!-- Basic device path checking (/dev/md###) -->
						<xsd:pattern value="/dev/md[0-9][0-9]*"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="lvm_group"> <!-- lvm group name -->
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<!-- https://www.novell.com/documentation/open-enterprise-server-2018/stor_posixvol_lx/data/planning_names.html -->
						<xsd:pattern value="[_\-\.\+a-zA-Z0-9][_\.\+a-zA-Z0-9]{0,127}"/>
						<!--<xsd:pattern value="^(?!snapshot$)(?!pvmove$)(?!\.$)(?!\.\.$)[_\-\.\+a-zA-Z0-9][_\.\+a-zA-Z0-9]{0,127}"></xsd:pattern>-->
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<!-- Optionnal raid section -->
	<xsd:element name="raid">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="unbounded" ref="raid_disk"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="raid_disk">
		<xsd:complexType>
			<xsd:attribute name="name" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"> <!-- Basic device path checking (/dev/md###) -->
						<xsd:pattern value="/dev/md[0-9][0-9]*"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="raid_level" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:enumeration value="linear"/>
						<xsd:enumeration value="raid0"/>
						<xsd:enumeration value="0"/>
						<xsd:enumeration value="stripe"/>
						<xsd:enumeration value="raid1"/>
						<xsd:enumeration value="1"/>
						<xsd:enumeration value="mirror"/>
						<xsd:enumeration value="raid4"/>
						<xsd:enumeration value="4"/>
						<xsd:enumeration value="raid5"/>
						<xsd:enumeration value="5"/>
						<xsd:enumeration value="raid6"/>
						<xsd:enumeration value="6"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="raid_devices"> <!-- The number of disks or partitions used to be part of the Software RAID volume. -->
				<xsd:simpleType>
					<xsd:restriction base="xsd:positiveInteger"/> <!-- must be a positive integer -->
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="spare_devices"> <!-- The number of disks or partitions used to be part of spare disks in the Software RAID volume. -->
				<xsd:simpleType>
					<xsd:restriction base="xsd:positiveInteger"/> <!-- must be a positive integer -->
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="rounding"> <!-- Rounding value in kilobytes. TODO: only valid if raid_level=1|raid1 -->
				<xsd:simpleType>
					<xsd:restriction base="xsd:nonNegativeInteger"/> <!-- must be a positive or null integer -->
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="layout"> <!-- The  parity algorithm to use with RAID5. TODO: only valid if raid_level=5|raid5-->
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:enumeration value="left-asymmetric"/>
						<xsd:enumeration value="right-asymmetric"/>
						<xsd:enumeration value="left-symmetric"/>
						<xsd:enumeration value="right-symmetric"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="chunk_size"/>
			<xsd:attribute name="lvm_group"/>
			<xsd:attribute name="devices"/>
		</xsd:complexType>
	</xsd:element>
	<!-- optionnal lvm section -->
	<xsd:element name="lvm">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="unbounded" ref="lvm_group"/>
			</xsd:sequence>
			<xsd:attribute name="version"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="lvm_group">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="unbounded" ref="lv"/>
			</xsd:sequence>
			<xsd:attribute name="name" use="required"/>
			<xsd:attribute name="max_log_vols" use="required"/>
			<xsd:attribute name="max_phys_vols" use="required"/>
			<xsd:attribute name="phys_extent_size" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="lv">
		<xsd:complexType>
			<xsd:attribute name="name" use="required"/>
			<xsd:attribute name="size" use="required"/>
			<xsd:attribute name="lv_options"/>
		</xsd:complexType>
	</xsd:element>
	<!-- optionnal (but recommanded) bootloader section -->
	<xsd:element name="bootloader">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="unbounded" ref="target"/>
			</xsd:sequence>
			<xsd:attribute name="flavor" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:enumeration value="grub"/>
						<xsd:enumeration value="grub2"/>
						<xsd:enumeration value="rEFInd"/>
						<xsd:enumeration value="clover"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="install_type" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:enumeration value="legacy"/>
						<xsd:enumeration value="efi"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="default_entry"/>
			<xsd:attribute name="timeout"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="target">
		<xsd:complexType>
			<xsd:attribute name="dev" use="required"/>
			<xsd:attribute name="path"/>
		</xsd:complexType>
	</xsd:element>
	<!-- filesystem informations -->
	<xsd:element name="fsinfo">
		<xsd:complexType>
			<xsd:attribute name="line"/>
			<xsd:attribute name="comment"/>
			<xsd:attribute name="real_dev" use="required"/>
			<xsd:attribute name="mount_dev"/>
			<xsd:attribute name="mp" use="required"/>
			<xsd:attribute name="fs" use="required"/>
			<xsd:attribute name="mkfs_opts"/>
			<xsd:attribute name="options" default="defaults"/>
			<xsd:attribute name="dump" use="required"/>
			<xsd:attribute name="pass" use="required"/>
			<xsd:attribute name="format"/>
		</xsd:complexType>
	</xsd:element>
	<!-- Deprecated Brian's Own Embedded Linux section -->
	<!-- This section is ignored and described here so old files wont fail when being verifyed. -->
	<xsd:element name="boel">
		<xsd:complexType>
			<xsd:attribute name="devstyle">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:enumeration value="static"/>
						<xsd:enumeration value="udev"/>
						<xsd:enumeration value="devfs"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
